/* © Copyright Benjiman Cameron Law 2016 All Rights Reserved */ 
	@font-face {
		font-family: Poiret;
		src:url("Fonts/PoiretOneRegular.ttf"); /* See Fonts() in The Map Ghostbin */
	}
	@font-face {
		font-family: Raleway200;
		src:url("Fonts/Raleway200.ttf"); /* See Fonts() in The Map Ghostbin */
	}
	@font-face {
		font-family: Roboto100italic;
		src:url("Fonts/Roboto100italic.ttf"); /* See Fonts() in The Map Ghostbin */
	}
	@font-face {
		font-family: Assistant300;
		src:url("Fonts/Assistant300.ttf"); /* See Fonts() in The Map Ghostbin */
	}

	body {
	  background-image: url("CaptainAmerica.jpg"); /* See Dropbox() in The Map Ghostbin */
	  background-size: cover;
	  background-attachment: fixed;
	}
	.Greeting {
		font-family: Roboto100italic;
		text-align: center;
		font-size: 50px;
		color: #FFFFFF;
		margin: 0 auto;
		padding: 0px;
	}
	p {	
		font-family: Raleway200;
		color:#e7ebe8;
		font-size: 150px;
		text-align: center;
		margin: 0 auto;
	}
	.container {
		float: none;
		transform: translate(0%, 150%);
	}
	r {
		font-size: 30px;
		color: #ffffff;
		padding: 0px;
		margin: 0 auto;
		font-family: Assistant300;
	}
	.createReminderButton {
		font-family: Assistant300;
		padding: 12px 28px;
		font-size: 16px;
		background-color: #0083FF;
		border: None;
		border-radius: 20px;
		margin: 50px;
		}
	.reminders {
		float: none;
		transform: translate(100% 150%);
		display: flex;
	}
	table {
		text-align: center;
		background-color: #808080;
	}
	th, td {
		border-bottom: 1px solid #ffffff;
	}